/* var вставити вар функції (var(--))*/

:root {
  --pramyre-text-color: #fffff;
  --title-text-color: #757575;
  --accent-color: #212121;
  --moz-box-sizing: border-box;
  --main-font: Roboto, Raleway, 'Gill Sans', sans-serif;
}
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
body {
  font-family: var(--main-font);
  background-color: #ffffff;
  color: #757575;
}

.link,
a,
.auth-nav {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/* HEADER */

header {
  width: 1600px;
  height: 80px;
  margin: auto;

  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.container > .header-container {
  width: 1200px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* --- LOGO --- */
.logo-nav {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo {
  width: 145px;
  height: 31px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo > div {
  cursor: pointer;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

/* --- site-nav --- */

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav a {
  color: #212121;
}

.site-nav > li {
  cursor: pointer;
}

.site-nav > li:not(:last-child) {
  margin-right: 50px;
}

.link {
  width: 64px;
}

.link:hover,
.link:focus,
.link.current {
  color: #2196f3;
}

.link,
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

/* --- AUTH-NAV --- */
.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-nav > li:not(:last-child) {
  margin-right: 50px;
}

.mail {
  width: 135px;
  color: #2196f3;
  cursor: pointer;
}

.mail:hover {
  color: #757575;
}

.phone {
  width: 122px;
  color: #757575;
}

/* --- main --- */

.hero {
  width: 1600px;
  height: 600px;

  background: #2f303a;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero .container {
  width: 1200px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.hero-title {
  display: inline-block;
  width: 696px;
  height: 120px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  margin-top: 200px;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;

  margin-top: 30px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-name {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.88px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: auto;
}
.button:hover,
.button:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* --- УВАГА ДО ДЕТАЛЕЙ --- */

.sub {
  width: 1200px;
  height: 98px;

  margin-top: 93px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.container .sub-container {
  width: 1200px;
  height: 98px;

  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sub-list:not(:last-child) {
  margin-right: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subtitle {
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.subtitle-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* --- Чим ми займаємося --- */

.subject {
  width: 1200px;
  height: 386px;

  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  width: 1200px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 50px;
}

.subject-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subject-img:not(:last-child) {
  margin-right: 30px;
}

/* --- Наша команда --- */

.team {
  width: 1600px;
  height: 648px;
  background: #f5f4fa;

  margin-left: auto;
  margin-right: auto;
}

.team > .container {
  width: 1200px;
  height: 648px;
}

.caption-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  display: inline-block;
  align-items: center;

  margin-top: 94px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.subject-images {
  width: 1200px;
  height: 368px;

  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.worker {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker:not(:last-child) {
  margin-right: 30px;
}

.worker-card {
  width: 270px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-text > img {
  width: 270px;
  height: 260px;
  border-radius: 0px;
}

.team-text {
  display: inline-block;
  justify-content: center;
}

.text {
  width: auto;
  font-family: 'Roboto';
  font-style: normal;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  margin-top: 30px;
  margin-bottom: 10px;
}

.text-job {
  width: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
  margin-bottom: 30px;
}

/* footer */

footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

footer > .container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 252px;
}

.logo-footer {
  width: 145px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-item {
  color: #ffffff;
}

.logo-item,
.logo-web {
  margin-top: 60px;
}
.about-company {
  width: 231px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.address-company {
  width: 231px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
}

.mail-company {
  width: 231px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  margin-top: 9px;
  margin-bottom: 9px;
  display: block;
}

.phone-company {
  width: 231px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

/* css style portfolio.html */

/* --- КНОПКИ В ПОРТФОЛІО --- */
.box-button {
  width: 575px;
  height: 54px;
  margin-top: 94px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
}

.button-list {
  height: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63px;
  letter-spacing: 0.03em;
  color: #212121;

  cursor: pointer;
  display: inline;
  margin-left: 8px;

  border-radius: 4px;
  border-style: solid;
  border-color: transparent;
}

.button-list:hover,
.button-list:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* --- picture --- */

.picture {
  width: 1200px;
  margin: auto;
  outline: 1px #eeeeee;
}

.picture .container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.card-set {
  padding: 0;
  margin: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items {
  width: 370px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  margin-left: 30px;
  margin-top: 30px;
}

.card-set > .two,
.card-set > .three {
  margin-top: 30px;
  margin-top: 0;
}

.card-set > .one {
  margin-left: 0;
  margin-top: 0;
}
.card-set > .four {
  margin-left: 0;
}

.card-set > .seven {
  margin-left: 0;
}

.name-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;

  width: 322px;
  height: 36px;

  margin-top: 20px;
  margin-right: 24px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.name-text {
  width: 322px;
  height: 30px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 24px;
  margin-bottom: 20px;
  margin-left: 24px;
}

img {
  width: 370px;
  height: 294px;
}
